<div float="right">
<div style="text-align:right">
  <h2>
    MANAGER DETAILS
  </h2>
</div>
<div float="right">

<table border="0" style="width:40%" align="right" >
        <tbody class="employees">
                <tr>
                 <td align="left">Employee ID    :</td>     
                <td align="left">{{employees?.empId}}</td>
                </tr>
                <tr>
		             <td align="left">Full Name    :</td>
                <td align="left">{{employees?.empName}}</td>
                </tr>
                <tr>
                <td align="left">Email Address :</td>  
		            <td align="left">{{employees?.empEmail}}</td>
                </tr>
                <tr>
                <td align="left">Phone Number :</td> 
                <td align="left">{{employees?.empPhone}}</td>
                </tr>             
        </tbody>
    </table> 
</div>
</div>


                